{% extends "decorators.html" %}
  
{% block content %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Template Validator</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h2>
                            <i class="zmdi zmdi-pages"></i> Detail Template
                        </h2>
                    </div>
                    <div class="table-data__tool-right">
                        <a href="{{ url_for('template') }}"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-arrow-left"></i>back</button></a>
                        <a href="{{ url_for('template_add') }}"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add template</button></a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            {% for row in template %}
                            <tr>
                                <th>Template ID</th>
                                <th>{{ row.0 }}</th>
                            </tr>
                            <tr>
                                <th>Template Name</th>
                                <th>{{ row.3 }}</th>
                            </tr>
                            <tr>
                                <th>Column</th>
                                <th>{{ row.1 }}</th>
                            </tr>
                            
                            {% endfor %}
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless table-data3" id="data_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Column</th>
                                <th>Label Field</th>
                                <th class="text-left">Sensor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in setting %}
                            <tr class="tr-shadow">
                                <td>{{ loop.index }}</td>
                                <td>{{ row.0 }}</td>
                                <td>{{ row.1 }}</td>
                                <td style="text-align: left;max-width: 250px;">
                                    <div class="card" style="margin: unset;">
                                          <div class="card-body" style="padding-top:2px;padding-bottom:2px;">
                                            <div class="row">
                                                {% for s in row.2 %}
                                                    {% if loop.index <= 1 %}
                                                    <div class="col-md-9">
                                                        {{ loop.index }}. {{ s }} 
                                                    </div>
                                                    {% endif %}
                                                    {% if loop.index == 2 %}
                                                    <div class="col-md-3" style="text-align: right;">
                                                        <button type="button" data-toggle="collapse" data-target="#collapse{{ row.0 }}" aria-expanded="true" aria-controls="collapseOne">
                                                                    detail >
                                                        </button>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                        </div>
                                        <div id="collapse{{ row.0 }}" class="collapse">
                                          <div class="card-body">
                                            {% for s in row.2 %}
                                            {% if loop.index > 1 %}
                                            {{ loop.index }}. {{ s }} <br>
                                            {% endif %}
                                            {% endfor %}
                                          </div>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#sensor').addClass('active');
            var table = $('#data_table').DataTable();
        });
    </script>
{% endblock %}