{% extends "decorators.html" %}
  
{% block content %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Add Template Message</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h2>
                            <i class="zmdi zmdi-pages"></i> Form Template Message
                        </h2>
                    </div>
                    <div class="table-data__tool-right">
                        <!-- <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-arrow-left"></i> back</button> -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Template Message</div>
                        <div class="card-body card-block">
                            <form action="{{ url_for('sensor')}}" method="POST" class="">
                                <div id="form">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-3">
                                            <label for="column" class="form-label">Code</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <label for="column" class="form-label">Message</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-3">
                                            <input type="text" name="code" id="code" class="form-control" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <input type="text" name="message" id="message" class="form-control" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <input type="text" name="values" id="values" class="form-control" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-1">
                                          <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive table-responsive-data2">
                                <table id="data_table" class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Code</th>
                                            <th>Message</th>
                                            <th>Values</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in message %}
                                        <tr class="tr-shadow">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ row.0 }}</td>
                                            <td>{{ row.1 }}</td>
                                            <td>{{ row.2 }}</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a href="/sensor/view/{{ row.0 }}"><button class="item btn-success" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                        <a href="/sensor/delete/{{ row.0 }}"><button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                    </button></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}
{% block script %}

    <script>
        $(document).ready(function() {
            $('#sensor').addClass('active');
            var table = $('#data_table').DataTable();
        });
    </script>
{% endblock %}
