{% extends "decorators.html" %}
  
{% block content %}
<style>
    .select2-container .select2-selection--single {
        height: 38px !important;
    }
    .select2-selection__arrow {
        height: 38px !important;
    }
    .mt-10{
        margin-top: 10px;
    }
    .hidden{
        display: none;
    }
</style>
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Add Template</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h2>
                            <i class="zmdi zmdi-pages"></i> Form Template
                        </h2>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="table-data__tool-right">
                            <button type="button" onclick="add()" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add column</button>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header">Template</div>
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data">
                                <h5 class="title-5">Add Label From Template</h5>
                                <hr>
                                <div class="progress mb-2 hidden">
                                    <div id="progress" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Loading ...</div>
                                </div>
                                <div class="table-data__tool-right">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            <label for="tname" class="form-label">Template</label>
                                            <input type="file" class="form-control" accept=".xlsx,.xls" required name="upload" id="upload"  style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <label for="header" class="form-label">Row Header</label>
                                            <input type="number" class="form-control" placeholder="Row" min="1" value="{{rowHeader}}" required name="row" id="row" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <label for="header" class="form-label">Sheetname</label>
                                            <select disabled required class="form-control select2" name="sheetname" id="sheetname">
 
                                            </select>
                                        </div>
    
                                        <div class="col-12 col-md-2">
                                            <div style="margin-top: 35px;">
                                                <button type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                    <i class="zmdi zmdi-upload"></i>Upload Labels</button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <h5 class="title-5">Form Template</h5>
                            <hr>
                            <form action="{{ url_for('template_save') }}" method="POST" class="">
                                <div id="form">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            <label for="tname" class="form-label">Nama Template</label>
                                            <input required type="text" name="tname" id="tname" class="form-control" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="header" class="form-label">Row Header Template</label>
                                            <input required type="number" name="header" id="header" class="form-control" value="1" min="1" style="height: 44px;">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-1">
                                            <label for="column" class="form-label">Column</label>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label for="column" class="form-label">Label Field</label>
                                        </div>
                                        <div class="col-12 col-md-2" style="text-align: center;">
                                            <label for="column" class="form-label">Aktif</label>
                                        </div>
                                        <div class="col-12 col-md-5" style="text-align: center;">
                                            <label for="column" class="form-label">Sensor</label>
                                        </div>
                                    </div>
                                    {% if labelA == None %}
                                    <div class="form-group row">
                                        <div class="col-12 col-md-1">
                                            <input type="text" style="text-align: center;" name="column[]" id="columnA" class="form-control" value="A" readonly style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <input type="text" name="labels[]" id="labelsA" value="" class="form-control" style="height: 44px;">
                                        </div>
                                        <div class="col-12 col-md-7">
                                            <div class="form-group">
                                                <input style="margin-top: 5px;" data-toggle="tooltip" data-placement="top" title="Active"  type="checkbox" checked onchange="check('A')" id="checkboxA" name="checkboxA" class="form-check-input">
                                                <select required name="validatorA" id="validatorA" class="form-control select2" multiple="multiple" data-live-search="true"> 
                                                    {% for row in message %}
                                                    <option value="{{ row.0 }}">{{ row.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-1">
                                            <button id="a_A" type="button" onclick="add()" class="btn btn-success"><i class="zmdi zmdi-plus"></i></button>
                                        </div>
                                    </div>
                                    {% else %}
                                        {% for lab in label %}
                                        <div class="form-group row" id="e_{{ lab.0 }}">
                                            <div class="col-12 col-md-1">
                                                <input type="text" style="text-align: center;" name="column[]" id="column{{ lab.0 }}" class="form-control" value="{{ lab.0 }}" readonly style="height: 44px;">
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <input type="text" name="labels[]" id="labels{{ lab.0 }}" value="{{ lab.1 }}" class="form-control" style="height: 44px;">
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="form-group">
                                                    <input style="margin-top: 5px;" checked type="checkbox" onchange="check('{{ lab.0 }}')" id="checkbox{{ lab.0 }}" name="checkbox{{ lab.0 }}" class="form-check-input">
                                                    <select required name="validator{{ lab.0 }}" id="validator{{ lab.0 }}" class="form-control select2" multiple="multiple" data-live-search="true"> 
                                                        {% for row in message %}
                                                        <option value="{{ row.0 }}">{{ row.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-1">
                                                {% if loop.index == loop.length -%}
                                                    <button id="a_{{ lab.0 }}" type="button" onclick="add()" class="btn btn-success"><i class="zmdi zmdi-plus"></i></button>
                                                    <button id="b_{{ lab.0 }}" type="button" onclick="clearE('e_{{ lab.0 }}','b_{{ loop.index }}')" class="btn btn-danger"><i class="zmdi zmdi-minus"></i></button>
                                                {% else %}
                                                    <button id="a_{{ lab.0 }}" style="display: none;" type="button" onclick="add()" class="btn btn-success"><i class="zmdi zmdi-plus"></i></button>
                                                    <button style="display: none;" id="b_{{ lab.0 }}" type="button" onclick="clearE('e_{{ lab.0 }}','b_{{ loop.index }}')" class="btn btn-danger"><i class="zmdi zmdi-minus"></i></button>
                                                {% endif %}

                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endif %}

                                    
                                </div>
                                <div class="form-actions form-group text-center">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#template').addClass('template');
        });
        $(".select2").select2();
        function add(){
            var inps = document.getElementsByName('column[]');
            var vals = inps.length;
            var bef = '';
            var option = $('#validatorA').html();
            if(vals < 78){
                if(vals > 51){
                    var len = vals - 52;
                    val = String.fromCharCode(65+len);
                    val = 'B'+val;
                    bef = String.fromCharCode(64+len);
                    bef = 'A'+bef;
                }else if(vals > 25){
                    var len = vals - 26;
                    val = String.fromCharCode(65+len);
                    val = 'A'+val;
                    bef = String.fromCharCode(64+len);
                    bef = 'A'+bef;
                }else{
                    val = String.fromCharCode(65+vals);
                    bef = String.fromCharCode(64+vals)
                }
                if(vals > 0){
                    $('#b_'+bef).hide();
                    $('#a_'+bef).hide();
                }else{
                    bef = '';
                }
                console.log(bef);
                $('#form').append('<div id="e_'+val+'" class="form-group row"><div class="col-12 col-md-1"><input type="text" style="text-align: center;" name="column[]" id="column'+val+'" class="form-control" value="'+val+'" readonly style="height: 44px;"></div><div class="col-12 col-md-3"><input type="text" name="labels[]" id="labels'+val+'" class="form-control" style="height: 44px;"></div><div class="col-12 col-md-7"><div class="form-group"><input style="margin-top: 5px;" checked type="checkbox" onchange="check(\''+val+'\')" id="checkbox'+val+'" name="checkbox'+val+'" class="form-check-input"><select required name="validator'+val+'" id="validator'+val+'" class="form-control select2" multiple="multiple" data-live-search="true">'+option+'</select></div></div><div class="col-12 col-md-1"><button id="a_'+val+'" type="button" onclick="add()" class="btn btn-success"><i class="zmdi zmdi-plus"></i></button> <button id="b_'+val+'" type="button" onclick="clearE(\'e_'+val+'\',\'b_'+bef+'\')" class="btn btn-danger"><i class="zmdi zmdi-minus"></i></button></div></div>');
                $(".select2").select2();
            }
            
        }
        function clearE(id,bef){
            if(id != 'e_A'){
                $('#'+id).remove();
                $('#'+bef).show();
                var x = bef.replace('b_','')
                $('#a_'+x).show();
                var vals = x-2;
                var val = '';
                if(vals > 51){
                    var len = vals - 52;
                    val = String.fromCharCode(65+len);
                    val = 'B'+val;
                }else if(vals > 25){
                    var len = vals - 26;
                    val = String.fromCharCode(65+len);
                    val = 'A'+val;
                }else{
                    val = String.fromCharCode(65+vals);
                }

                $('#b_'+val).show();
                $('#a_'+val).show();
            }
            
        }
        function check(a){
            var c = $('#checkbox'+a).val();
            if(c == 'f'){
                $('#checkbox'+a).val('t');
                $('#validator'+a).attr('disabled',true);
                $('#checkbox'+a).attr('title','No Aktive');
                $('#validator'+a).val('0');
                $('#validator'+a+'option[value="0"]').attr('selected',true);
            }else if(c == 't'){
                $('#checkbox'+a).val('f');
                $('#validator'+a+'option[value="0"]').attr('selected',false);
                $('#checkbox'+a).attr('title','Aktive');
                $('#validator'+a).attr('disabled',false);
            }else{
                $('#checkbox'+a).val('t');
                $('#validator'+a).attr('disabled',true);
                $('#validator'+a).val('0');
                $('#validator'+a+'option[value="0"]').attr('selected',true);
                $('#checkbox'+a).attr('title','No Aktive');
            }
        }
        $('#upload').on('change', function() {
        $(".progress").removeClass('hidden');
        var file_data = $('#upload').prop('files')[0];   
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        $("#progress").attr('style','width:50%');
        $.ajax({
            url: '{{ url_for("getSheet")}}',
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,                         
            type: 'post',
            success: function(data){
                $("#progress").attr('style','width:100%');
                var data = JSON.parse(data);
                if (data.error) {
                    alert(data.error);
                    $(".progress").addClass('hidden');
                    $("#progress").attr('style','width:10%');
                }else{
                    $("#sheetname").attr("disabled",false);
                    var $select = $("#sheetname");
                    $select.find('option').remove();
                    $('<option>').val('').text('- Sheet Name -').appendTo($select);
                    $.each(data.result, function(key,value) {
                        $('<option>').val(value).text(value).appendTo($select);
                    });
                    $(".progress").addClass('hidden');
                    $("#progress").attr('style','width:10%');
                }

                }
            });
        });
    </script>
{% endblock %}

