{% extends "decorators.html" %}
  
{% block content %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Template Validator</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <h2>
                            <i class="zmdi zmdi-pages"></i> List Template
                        </h2>
                    </div>
                    <div class="table-data__tool-right">
                        <a href="{{ url_for('template_add') }}"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add template</button></a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table id="data_table" class="table table-data2">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Template Label</th>
                                <th>Column</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in template %}
                            <tr class="tr-shadow">
                                <td>{{ loop.index }}</td>
                                <td>{{ row.3 }}</td>
                                <td>{{ row.1 }}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <a href="/template/detail/{{ row.0 }}"><button class="item" data-toggle="tooltip" data-placement="top" title="View">
                                            <i class="zmdi zmdi-search"></i>
                                        </button></a>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#template').addClass('active');
            var table = $('#data_table').DataTable();
        });
    </script>
{% endblock %}