{% extends "decorators.html" %}
  
{% block content %}
<style>
    .select2-selection__rendered {
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 38px !important;
    }
    .select2-selection__arrow {
        height: 38px !important;
    }
    .mt-10{
        margin-top: 10px;
    }
    .hidden{
        display: none;
    }
</style>
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Validate Excel</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-right">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Select File</div>
                        <div class="card-body card-block">
                            {% if 'error' in request.args %}
                            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                <span class="badge badge-pill badge-danger">Error</span>
                                {{ request.args.get('error') }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            <div class="progress mb-2 hidden">
                                <div id="progress" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Loading ...</div>
                            </div>
                            <form onsubmit=" return upload()" method="post" enctype=multipart/form-data>
                                <div class="form-group row">
                                    <div class="col-12 col-md-3 mt-10">
                                        <label for="file">File Excel</label>
                                        <input type="file" id="file" name="file" accept=".xls,.xlsx" placeholder="Email" class="form-control">
                                    </div>
                                    <div class="col-12 col-md-2 mt-10">
                                        <label for="file">Sheets</label>
                                        <select disabled required class="form-control select2" name="sheetname" id="sheetname">
 
                                        </select>
                                     </div>
                                     <div class="col-12 col-md-2 mt-10">
                                        <label for="file">Header</label>
                                        <input type="text" id="header" name="header" class="form-control">
                                     </div>
                                    <div class="col-12 col-md-3 mt-10">
                                        <label for="file">Template</label>
                                        <select required name="template" id="template_id" class="form-control">
                                            <option value=""> Pilih Template</option>
                                            {% for row in template %}
                                                <option value="{{ row.0 }}"> Template {{ row.3 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-2 mt-10">
                                        <button type="submit" style="margin-top: 35px;" class="btn btn-primary">Validate</button>
                                    </div>
                                </div>
                            </form>
                            <div id="downloads">
                                
                            </div>
                            <hr>
                            <div class="table-responsive" id="detail">
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}
{% block script %}
    <script>
         $(document).ready(function() {
            $('#validate').addClass('active');
            $("#sheetname").select2();
            $("#template_id").select2();
        });
        
        $("#template_id").change(function() {
        var id_template = $("#template_id").val();
        if (id_template !='') {
            $.ajax({
                method: "POST",
                url: "{{ url_for('getDetailTemplate') }}",
                data:{'id_template':id_template},
                success: function(data) {
                    console.log(data.result);
                    var tabledata = '';
                    var no = 1;
                    tabledata += '<span>Detail Sensor</span><hr>';
                    tabledata += '<table class="table table-borderless table-data3">';
                    tabledata += '<thead>';
                        tabledata += '<tr>';
                            tabledata += '<th></th>';
                            tabledata += '<th>Column</th>';
                            tabledata += '<th>Label Field</th>';
                            tabledata += '<th class="text-left">Sensor</th>';
                        tabledata += '</tr>';
                    tabledata += '</thead>';
                    tabledata += '<tbody>';
                    $.each(data.result, function(key, value) {
                        console.log(value);
                            tabledata += '<tr>';
                                tabledata += '<td>'+no+'</td>';
                                tabledata += '<td>'+value[0]+'</td>';
                                tabledata += '<td>'+value[1]+'</td>';
                                var n = 1;
                                var data2 = '';
                                $.each(value[2], function(key, value2) {
                                    data2 += n+'. '+value2+'<br>';
                                    n++;
                                });
                                tabledata += '<td class="text-left">'+data2+'</td>';
                            tabledata += '</tr>';
                            no++;
                    });
                    tabledata += '</tbody>';
                tabledata += '</table>';
                $("#detail").html(tabledata);
                },
                error: function(request, error) {
                    alert('Error Get Sheetname', error+" : "+request.responseText);
                }
            });
        }else{
            $("#detail").html('');
        }

        });

    $('#file').on('change', function() {
        $(".progress").removeClass('hidden');
        var file_data = $('#file').prop('files')[0];   
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        $("#progress").attr('style','width:50%');
        $.ajax({
            url: '{{ url_for("getSheet")}}',
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,                         
            type: 'post',
            success: function(data){
                $("#progress").attr('style','width:100%');
                var data = JSON.parse(data);
                if (data.error) {
                    alert(data.error);
                    $(".progress").addClass('hidden');
                    $("#progress").attr('style','width:10%');
                }else{
                    $("#sheetname").attr("disabled",false);
                    var $select = $("#sheetname");
                    $select.find('option').remove();
                    $('<option>').val('').text('- Sheet Name -').appendTo($select);
                    $.each(data.result, function(key,value) {
                        $('<option>').val(value).text(value).appendTo($select);
                    });
                    $(".progress").addClass('hidden');
                    $("#progress").attr('style','width:10%');
                }

                }
            });
        });
        function upload() {
            $(".progress").removeClass('hidden');
            var file_data = $('#file').prop('files')[0];
            var sheetname = $("#sheetname").val();
            var header = $("#header").val();
            var template = $("#template_id").val();
            var form_data = new FormData();                  
            form_data.append('file', file_data);
            form_data.append('sheetname', sheetname);
            form_data.append('template', template);
            form_data.append('header', header);
            $("#progress").attr('style','width:50%');
            $.ajax({
                url: '{{ url_for("upload") }}',
                dataType: 'text',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,                         
                type: 'post',
                success: function(data){
                    $("#progress").attr('style','width:90%');
                    var data = JSON.parse(data);
                    console.log(data);
                    console.log(data.result);
                    console.log(data.filename);
                    if (data.error) {
                        alert(data.error);
                        $(".progress").addClass('hidden');
                        $("#progress").attr('style','width:10%');
                    }else{
                        $(".progress").addClass('hidden');
                        $("#progress").attr('style','width:10%');
                        var res = '';
                        res += '<hr><form action="{{url_for("download")}}" method="post">';
                            res += '<div class="row form-group">';
                                res += '<div class="col col-md-12">';
                                    res += '<div class="input-group">';
                                        res += '<input type="text" readonly value="'+data.filename+'" name="filename" id="filename"  class="form-control">';
                                        res += '<input type="hidden" value="'+data.result+'" name="path" id="path" class="form-control">';
                                        res += '<div class="input-group-btn">';
                                            res += '<button class="btn btn-success" type="submit"><i class="fa fa-download"></i> Download</button>';
                                            res += '</div></div></div></div></form>';
                        $("#downloads").html(res);
                    }
                },
                error: function(request, error) {
                    $(".progress").addClass('hidden');
                    $("#progress").attr('style','width:10%');
                    alert('Processing Sensor Error, Try Again.', error+" : "+request.responseText);
                }
            });

            return false;
        };
        
    </script>
{% endblock %}
